img{
  height: 50px;
  display: block;
}

 .modal {
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: grid;
      align-items: center;
      justify-items: center;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .modalInner {
      border-radius: 4px;
      background: white;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
      transform: translateY(-100vh);
      transition: all 0.5s;
      max-width: 900px;
      /* height: calc(100vh - 100px); */
      height: 60vh;
      color: black;
      margin: 3rem;
      padding: 20px;
    }

    .modal.open {
      opacity: 1;
      pointer-events: all;
    }

    .modal.open .modalInner {
      transform: translateY(0);
    }